*{
  box-sizing : border-box;
}

h1 {
  text-align : center;
}

.box{
  border : 1px solid;
  width : 30%;
  float : left;
  background-color : grey;
  font-weight : bold;
  margin-right : 1%;
  margin-left : 1%;
  margin-bottom : 2%;
}

.box-title{
  text-align : center;
  border-left : 1px solid;
  border-bottom : 1px solid;
  margin : 0%;
  padding : 5px 20px;
  float : right;
}

.box-discription{
  float : left;
}

.box-discription p{
  margin : 15px;
}

#box-title1{
  background-color: orange;
}

#box-title2{
  background-color: red;
}

#box-title3{
  background-color: yellow;
}


@media (min-width: 768px) and (max-width: 991px) {
  .box:nth-child(1), .box:nth-child(2){
    width: 48%;
  }
  .box:nth-child(3){
    width: 98%;
  }
}


@media (max-width: 767px) {
  .box{
    width: 98%;
  }  
}
